@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.create-event {
    background: rgb(65,67,97);
    background: linear-gradient(180deg, rgb(89, 90, 130) 10%, #26293d 100%);
    color: #ffffff;
    min-height: 100vh;
}

.eventCreator {
    background-color: #26293d;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
}

.noviDog {
    flex-basis: 100%;
    margin-left: 20px;
    text-align: center;
}

.container1,
.container2 {
    flex: 1 1 45%;
    box-sizing: border-box;
    margin: 20px;
}

.dogadaj,
.kategorija,
.adresa,
.datum,
.cijena,
.opis,
 .tipUlaznice, 
 .kolicina, 
 .red, 
 .broj, 
 .tipTransakcije,
 .opisZamjene{
    font-size: 20px;
    font-weight: bold;
    color: #816898;
    margin-bottom: 10px; 
}

.dogadajInput,
.adresaInput,
.datumInput,
.cijenaInput,
.opisInput, .ticketType,
.kolicinaInput, .redInput,
.brojInput{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dogadajInput::placeholder,
.adresaInput::placeholder,
.cijenaInput::placeholder,
.datumInput::placeholder,
.opisInput::placeholder,
.ticketType::placeholder,
.kolicinaInput::placeholder {
    color: #26293d;
    font-size: 15px;
}

.kategorijaInput {
    margin: 10px 0;
}

.kategorijaInput input {
    margin-right: 10px;
}

.submit {
    align-items: center;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #816898;
    transition: background-color 0.3s;
    margin-top: 20px; 
    margin-left: 40px;
}

.submit:hover {
    color: #816898;
    background-color: #ffffff;
}

.opisInput {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    color: #26293d;
}

.container1 .adresaInput,
.container2 .adresaInput {
    margin-bottom: 20px;
}

.redInput,
.brojInput {
    background-color: #d3d3d3; 
    pointer-events: none; 
    color: #555; 
}

.redInput:enabled,
.brojInput:enabled {
    background-color: #ffffff;
    pointer-events: auto; 
    color: #000; 
}

.hidden {
    display: none;
}

.redInput,
.brojInput {
    transition: all 0.3s ease-in-out;
}



/* Responsive Design */
@media (max-width: 768px) {
    .container1,
    .container2 {
        flex: 1 1 100%;
    }
    .submit {
        width: 100%;
    }
}
