.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2b2544; 
    color: #ffffff;
    position: fixed; /* Makes the header fixed at the top */
    top: 0; /* Positions it at the very top */
    left: 0; /* Ensures it starts from the left */
    right: 0; /* Ensures it extends to the right */
    z-index: 1000; /* Keeps it above all other content */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #a184c5;
  }
  
  .search-icon {
    margin-right: 0.5em;
    color: #ffffff;
  }
  
  .search-bar input {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 200px; 
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-greeting {
    margin-left: 10px;
  }
  
  .selection-page {
    padding-top: 60px; 
  }
  