@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.admin-page {
    background: rgb(65,67,97);
    background: linear-gradient(180deg, rgb(89, 90, 130) 10%, #26293d 100%);
    color: #ffffff;
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
}


.oglasi, .transakcije {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#oglasi, #transakcije{
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;

}


.item {
    background-color: #4f5469;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #e8e5e7;
}

.item:hover {
    background-color: #626a7d;
    color: #26293d;
}

.filter {
    background-color: #e8e5e7;
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    height: 370px;
    min-width: 250px;
}

.imeFiltra {
    color: #26293d;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.lista {
    color: #26293d;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
}

li {
    color: #65696b;
    cursor: pointer;
    list-style-type: none;
    margin-left: 20px;
}

li:hover {
    color: #26293d;
    font-weight: bold;
}

li.selected {
    color: #26293d;
    font-weight: bold;
}

.price-range {
    color: #26293d;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#price-value {
    color: #65696b;
    text-align: center;
}

.price-range input[type="range"] {
    width: 90%;
    -webkit-appearance: none;
}

.price-range input[type="range"]::-webkit-slider-runnable-track {
    background: #26293d;
    border-radius: 10px;
}

.price-range input[type="range"]::-webkit-slider-thumb {
    background: #65696b;
    cursor: pointer;
}

.price-range input[type="range"]::-moz-range-track {
    background: #816898;
}

.price-range input[type="range"]::-moz-range-thumb {
    background: #9aa0a3;
}

.createEvent,
.admin {
    margin-left: 20px;
    background-color: #816898;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    align-self: center;
    color: #e8e5e7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.createEvent:hover,
.admin:hover {
    background-color: #26293d;
    color: #816898;
}

.hidden {
    display: none;
}

.no-events-message {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
#oglasi{
    margin-left: 20px;    
}
.oglasi {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
    background-color: #816898; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto; 
    margin-top: 100px; 
}