@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.user-page {
    background: rgb(65,67,97);
    background: linear-gradient(180deg, rgb(89, 90, 130) 10%, #26293d 100%);
    color: #ffffff;
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
}